body {
    font-family: 'Helvetica Neue', sans-serif;
}

h1 {
    font-size: 2.5rem;
    color: rgb(8, 136, 184);
}

.code-keyword {
    font-family: 'Courier', monospace;
    font-weight: lighter;
    color: #999;
}
